* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

/* @media screen and (max-width: 600px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin: 5px;
  }
} */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* HOME PAGE */
.navbar {
  display: flex;
  align-items: center;
  height: 80px;
}

button:active {
  transform: translateY(1px);
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px; 
  max-width: 100%;
}

.overlay {
  background-color: rgba(51, 51, 51, 0.742);
  background-size: 100% cover;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
}

.bg-img {
  background-size: 100%;
  background-image: url("https://www1.cuny.edu/mu/forum/files/2020/09/WSJ-CCNY-d-S.jpg");
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%; 
}

.landing__container {

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  width: 33.333vw;
}

a:hover {
  text-decoration: none;
}

.button-container {
  margin-top: 50px;
}

a:active {
  transform: translateY(1px);
}


.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.paragraph {
  font-size: 16px;
  color: white;
  line-height: 1.5;
  margin-top: 30px;
}

.background-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 30vh; 
  /* font-size: 100px; */
  font-size: 4rem;
    line-height: 6.5rem;
    text-shadow: 1px 1px 2px #000000;
    color: white;
    /* opacity: 0.7; */
    font-weight: 1000;
}

#gradient-button {
  padding:1.5vh;
  background: rgb(2,0,36);
  background: linear-gradient(  rgba(234,245,249,1) 88%, rgba(0,212,255,1) 100%);
  /* You can also adjust the gradient direction by changing 'to right' */
}
.Homebutton-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Homebutton {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

/* @media screen and (max-width: 600px) {
  .Homebutton-container {
    flex-direction: column;
    align-items: center;
  }

  .Homebutton {
    margin: 5px 0;
  }
} */

/* END OF HOME  */

/* START OF ADD CAMPUS CSS */
.add-campus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.add-campus-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-campus-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-campus-container label {
  margin-top: 10px;
}

.add-campus-container input,
.add-campus-container textarea {
  width: 300px;
  padding: 5px;
  margin-top: 5px;
}

.add-campus-container button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none
}